DATABASE_URL=
PORT=
NODE_ENV=

BCRYPT_SALT_ROUNDS=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

FRONTEND_URL=
BACKEND_API_URL=

AVATAR_S3_BASE_URL=